/* Give space between each dive element in flex box. */
.d-flex > div {
    margin-top: 25px;
    position: relative;
    height: fit-content;
}

svg {
    margin-bottom: 15px;
}

.rounded-circle{
    background-color: #e1dfdf;
}