.title {
    color: #da0063;
    font-weight: bold;
}

div.row>*,
.h2 {
    margin-top: 15px;
}

.column > button {
    width: 10em;
    margin-left: 15px;
}

.circle {
    margin-top: 10px;
    position: relative;
}